* {
  margin: 0;
}

body {
  margin: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  width: auto;
  height: auto;
  background-color: blueviolet;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  height: 35rem;
  overflow-y: scroll;
}

.list_child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  padding: 10px;
  height: auto;
}

.list_child p {
  width: 12%;
  word-wrap: break-word;
}

dialog {
  margin: auto;
}

.serial_no {
  width: 5%;
}

.update_btn {
  background-color: blueviolet;
  border: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.delete_btn {
  background-color: red;
  border: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.button:hover {
  box-shadow: 5px 5px 10px 2px rgba(139, 139, 139, 0.8);
}

::backdrop {
  opacity: 1;
}
